footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #0d3281;
}

header{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #0d3281;
}

input {
    color: whitesmoke;
    border-radius: 10px;
    background-color: #007bff;
    border: none;
    width: 100px;
}

#requestTypeSelector{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 300px;
    margin-left: 200px;
    color: whitesmoke;
    border: none;
    background-color: #007bff;
}

button {
    color: whitesmoke;
    background-color: #007bff;
}

p {
    color: whitesmoke;
}

form {
    background-color: #0059ff;
    border: #183691;
    width: 700px;
    margin-left: 400px;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#api{
    width: 55px;
}

span{
    color: whitesmoke;
}

.company{
    color: black;
}

.error{
    color: whitesmoke;
    background-color: #0059ff;
    margin-top: 250px;
    border-radius: 10px;
    padding: 15px;
}

.bg{
    background-color: #1441a1;
}

h1{
    border-radius: 10px;
    background-color: #0059ff;
    width: fit-content;
    padding: 15px;
}
#load{
    margin-top: 250px;
    margin-left: 700px;
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
        -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
        -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
        0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.page-count {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
